#login-wrapper {
    width: 275px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333333;
    padding: 15px;
    color: #fff;
    border-radius: 4px;

    label {
        font-weight: normal;
    }

    .errors {
        margin-top: 15px;
        color: #e13137;
    }
}
