.panel {
    max-width: 700px;
    margin: auto;

    .panel-heading {
        position: relative;

        .heading-btn {
            position: absolute;
            right: 5px;
            top: 3px;
            border: 1px solid #c4c4c4;
            padding: 5px 10px;
            border-radius: 4px;
            cursor: pointer;
        }
    }

    .right-btn {
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
        font-size: 1.5em;
    }

    .edit-btn {
        position: absolute;
        right: 35px;
        top: 5px;
        cursor: pointer;
        font-size: 1.5em;
    }

    th {
        cursor: pointer;
        position: relative;

        .fa-sort-asc {
            position: absolute;
            right: 5px;
            top: 15px;
        }

        .fa-sort-desc {
            position: absolute;
            right: 5px;
            top: 10px;
        }
    }

    .edit-row.selected {
        background-color: #dae9ed;
    }

    input.error{
        border: 1px solid red;
    }

    input {
        width: calc(100% - 20px);
    }
}

#modal-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #454545;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 1000;
}

#confirm-modal {
    position: fixed;
    top: 25%;
    left: 50%;
    z-index: 1001;
    transform: translate(-50%,-50%);
    background: #333;
    color: #fff;
    padding: 15px;
    border-radius: 4px;
}
